.cstm-btn{
    text-align: center;
}
.dropdown-menu li a{
    text-decoration: none;
}
.mt501{
    text-align: justify;
}
.cstm-pro{
    display: inline;
}
.margin-top{
    margin-top: 16px;
    font-weight: bold;
    font-size: 16px;
}
.cstm-saearch{
    position: relative;
}
.cstm-saearch a{
    position: absolute;
    width: 27%;
    right: 15px;
    top: 0px;
}
.cstm-he h4{
    margin-top: 10px;
}
.cstm-border{
    border-color: 3px solid #000 !important;
}
.htl-lst {
    background-color: #fff;
    width: 32% !important;
    z-index: 9;
    margin-top: 10px;
}
.no-margin{
    margin: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.cstm-bottom{
    margin-bottom: 15px;
}
.fa.infield {
    position: absolute;
    float: right;
    right: 57px;
    margin-top: 35px;
    font-size: 14px;
}
.cstm-lbl label{
    margin-top: 24px;
    font-size: 18px;
}
.room-thumb1 {
    width: auto;
    height: auto;
    float: left;
    position: relative;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 0 2px 0 0 #e0e0e0;
    box-shadow: 0 2px 0 0 #e0e0e0;
    -webkit-backface-visibility: none;
    -webkit-perspective: 5000;
    padding: 10px;
    border-radius: 5px;
}
.room-thumb1 .main h5 {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 10px 0 0 0px;
    color: #70D1DD;
}
.room-thumb1 .main .price {
    display: inline;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    padding: 6px 25px;
    border-top: none;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.room-thumb1 .main .price1 {
    display: inline;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 90px;
    width: 147px;
    border-top: none;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.room-thumb1 .main .price span {
    display: block;
    color: #979797;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}
.cstm-srch{
    margin-top: 70px;
}
.cstm-add{
    text-align: center;
    margin-top: 10px;
}
.cstm-add a{
    font-size: 16px;
    font-weight: bold;
}
.cstm-srch-2{
    color: #75C5CF;
}
.alert-bg-remove{
    background: transparent !important;
}

.mt52{
    text-align: justify;

    .pagination-row {
        margin-right: -15px;
        margin-left: 100px;
    }
    .cstm-sign-log a{
        color: #fff !important;

    }
    .cstm-pos-marg i{
        position: absolute;
        float: right;
        right: 25px;
        margin-top: 35px;
        font-size: 14px;
        color: #75C5CF !imp !important;
    }